{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <div class="module">
        <form method="post" action="{% url 'content:update-status' object.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ status_form.type.label }}<br>
            {{ status_form.type }}
            <input type="submit" value="Save">
        </form>
    </div>

{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            if ({{ status_content.exists }} == 1)
            {
                document.getElementById('id_review').value = "{{ status_content.review }}";
                document.getElementById('id_type').value = "{{ status_content.value }}";
            }
        });
    </script>
{% endblock %}