{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block head %}
    <style>
        #id_type {
            width: 300px;
        }

        #id_review {
            width: 275px;
            height: 100px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <div class="box">
        <div class="box-row">
            <div class="box-cell left_div">
                <div id="image_poster">
                    <img id="image" src="{{ object.poster_url }}">
                </div>
                <div id="form_info">
                    <form method="post" action="{% url 'content:update-status' object.pk %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ status_form.as_p }}
                        <input type="submit" value="Save">
                    </form>
                </div>

            </div>
            <div class="box-cell right_div">
                <div id="synopsis">
                    <h3>Synopsis</h3>
                    {{ object.synopsis }} <br>
                </div>
                <div id="airdate">
                    <h3>Airdate</h3>
                    {{ object.airdate }} <br>
                </div>
                {% if status_content.value in "bc" %}
                    <div id="rating_stars">
                        <h3>Your Rating</h3>
                        <select class="star-rating" id="star_rating">
                            <option value="0">Select a rating</option>
                            {% for i in '54321'|make_list %}
                                {% if status_rating.value == i and status_rating.exists %}
                                    <option value="{{ i }}" selected>{{ i }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% else %}
                    <div id="rating_stars">
                        <h3>Your Rating</h3>
                        <select class="star-rating" id="star_rating" disabled>
                            <option value="0">Select a rating</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                        <p>To rate this content you must mark as <b>watched or favorite</b>. </p>
                    </div>
                {% endif %}
                <div id="global_review">
                    <h3>Global Rating</h3>
                    {% if global_rating.rating__avg %}
                        {{ global_rating.rating__avg|floatformat:"2" }}
                    {% else %}
                        <p>No existing rating</p>
                    {% endif %}
                </div>
            </div>
            <div id="table_data">
                <a id="add_link" class="button" href="{% url 'content:add_in_platform' object.pk %}">Add Link</a>
                <table class="cell-border" id="datatable_links">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">Platform</th>
                        <th scope="col" style="width: 60%;">URL</th>
                        <th scope="col" style="width: 10%;">User</th>
                        <th scope="col" style="width: 20%;">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in content_links %}
                        <tr>
                            <td>{{ c.platform.name }}</td>
                            <td><a href="{{ c.url }}">{{ c.url }}</a></td>
                            <td>{{ c.user.username }}</td>
                            {% if user.pk == c.user.pk %}
                                <td>
                                    <div id="buttons_info"><a id="delete_button" class="button" href="{% url 'content:delete_in_platform' c.pk %}">Delete link</a><br>
                                    <a id="edit_button" class="button" href="{% url 'content:edit_in_platform' c.pk %}">Edit
                                        link</a>
                                    </div>
                                </td>
                            {% else %}
                                <td>No options</td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            if ("{{ status_content.exists }}" === "1") {
                document.getElementById('id_review').value = "{{ status_content.review }}";
                document.getElementById('id_type').value = "{{ status_content.value }}";
            }
            var stars = new StarRating('.star-rating');
            $('#datatable_links').DataTable({
                responsive: true,
                autoWidth: false,
                language: {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json"
                }
            });
        });
        $(function () {
            $('#star_rating').on('change', function () {
                var value = document.getElementById('star_rating').value;
                $.ajax({
                    url: '{% url 'content:rating' %}',
                    data: {"rating": value, "content": "{{ object.id }}"},
                    type: "GET",
                    dataType: 'json',
                    success: function (data) {
                    },
                    error: function (data) {
                    }
                });
            });
        });
    </script>
{% endblock %}