@import url(//fonts.googleapis.com/css?family=Roboto:500,300,400);

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
}

a {
    color: #96236e;
    text-decoration: none;
}

ul {
    float: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    background: #efefef;
    padding: 20px 0 20px 40px;
    margin: 0;
    text-align: left;
}

.module {
    padding: 10px 20px;
    float: left;
    width: 600px;
}

.module h3 {
    margin: 20px 0 0;
    padding: 0;
}

.module p {
    margin: 10px 0 20px;
    width: 100%;
    float: left;
}

#header {
    background: #96236e;
    overflow: auto;
    padding: 10px 20px;
    border-bottom: 6px solid #6d0246;
}

#header .logo {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    float: left;
}

#header a {
    color: #fff;
}

#header .menu {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

.contents {
    width: 20%;
    padding: 10px;
    float: left;
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.contents ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.contents ul li {
    margin: 0 0 10px 0;
    padding: 4px 10px 10px;
    overflow: auto;
    cursor: move;
}

.contents ul li.selected {
    background: #3f3f3f;
}

.contents ul li:hover {
    background: #3f3f3f;
}

.contents ul span {
    text-transform: uppercase;
    color: #bbb;
    font-size: 14px;
}

.contents ul a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.contents ul a:hover {
    color: #96236e;
    cursor: move;
}

ul.content-types li {
    list-style: none;
    float: left;
    margin: 10px;
    background: #efefef;
    padding: 8px 14px;
}

.hidden {
    display: none;
}

form p {
    overflow: auto;
}

.errorlist {
    color: #ae2c2c;
    margin: 0;
}

label {
    float: left;
    clear: both;
    margin: 0 0 8px 0;
}

input, select, select2, textarea {
    border: 1px solid #ccc;
    border-bottom: 3px solid #ccc;
    padding: 8px 12px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    float: right;
    clear: both;
    width: 300px;
}

textarea {
    height: 80px;
}

select {
    width: 324px;
}

input[type=submit], a.button {
    border-radius: 5px;
    background: #96236e;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
}

a.secondary-button {
    border: 3px solid #4dcc43;
    padding: 10px 20px;
    margin: 10px 0;
}

input[type=submit]:hover, a.button:hover {
    background: #96236e;
}

ul#course-modules {
    list-style: none;
    overflow: auto;
}

ul#course-modules textarea {
    width: 600px;
    height: 120px;
}

ul#course-modules li {
    padding: 20px;
    overflow: auto;
    cursor: move;
}

ul#course-modules li:nth-child(even) {
    background: #efefef;
}

ul#course-modules li:hover {
    background: #ccc;
}

#module-contents div {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background: #fff
}

#module-contents form {
    margin: 0;
    padding: 0;
}

#module-contents input[type=submit] {
    color: #96236e;
    background: none;
    margin: -20px 0 0;
    padding: 0;
    float: left;
    text-transform: none;
}

#module-contents div:hover {
    cursor: move;
}

.course-info {
    border: 1px solid #ccc;
    padding: 0 20px;
    margin-bottom: 10px;
    width: 400px;
    overflow: auto;
}

.course-info a {
    margin-right: 10px;
}

.helptext {
    color: #ccc;
    padding-left: 20px;
}

.star-rating {
    position: fixed;
    top: 100px;
}

.select2-container {
    position: absolute;
    top: 16px;
    margin-top: 10px;
    border-radius: 5px;

}

#search_button {
    width: 70px;
    position: absolute;
    left: 350px;
}

#content .box {
    display: table;
}

#content .box .box-row {
    display: table-row;
}

#content .box .box-cell {
    display: table-cell;

}

.left_div {
    padding: 50px 100px;
}

.right_div {
    padding: 40px 60px;
}

#synopsis {
    position: absolute;
    top: 170px;
    left: 455px;
}

#airdate {
    position: absolute;
    top: 330px;
    left: 455px;
}

#rating_stars {
    position: absolute;
    top: 420px;
    left: 455px;
}

#global_review {
    position: absolute;
    top: 420px;
    left: 700px;
}

#table_data {
    position: absolute;
    top: 660px;
    left: 450px;
}

#add_link {
    position: absolute;
    top: -77px;
}
#searchbar_full {
    position: absolute;
    left: 60%;
}

#datatable_status_wrapper {
    position: absolute;
    top: 350px;
    left: 40px;
    width: 40%;
}

#datatable_ratings_wrapper {
    position: absolute;
    top: 350px;
    left: 50%;
    width: 40%;
}
#status_title {
    position: absolute;
    top: 280px;
    left: 40px;
}
#rating_title {
    position: absolute;
    top: 280px;
    left: 50%;
}
#delete_button {
    position: relative;
    left: 125px;
    top: 8px;
}
#edit_button {
    position: relative;
    top: -10px;
}

#delete_profile {
    padding: 8px 20px;
}