{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Entertainment DB{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static '/img/favicon.ico' %}"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <!-- Select2 -->
    <link href="{% static 'libs/select2/css/select2.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'libs/select2/js/select2.js' %}"></script>
    <!--Rating stars -->
    <link href="{% static 'libs/star-rating/star-rating.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'libs/star-rating/star-rating.js' %}"></script>
    <!-- Data Table -->
    <link rel="stylesheet"
          href="{% static 'libs/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"
          type="text/css"/>
    <script src="{% static 'libs/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'libs/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="header">
    <a href="{% url 'profile' %}" class="logo">Entertainment DB</a>
    <ul class="menu">
        {% if request.user.is_authenticated %}
            <li><a href="{% url "logout" %}">Log out</a></li>
        {% else %}
            <li><a href="{% url "login" %}">Sign in</a></li>
        {% endif %}
    </ul>
</div>
<div id="content">
    {% if request.user.is_authenticated %}
        <div id="searchbar_full">
            <form method="post" action="{% url 'content:content_search_go' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <select class="js-example-data-ajax form-control" name="search_bar" id="search_bar" required></select>
                <input id="search_button" type="submit" value="Go">
            </form>
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
<script>
    $(document).ready(function () {
        $('#search_bar').select2({
            ajax: {
                type: "GET",
                url: "{% url 'content:content_search' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            placeholder: 'Search for content',
            minimumInputLength: 1,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });

        function formatRepo(repo) {
            if (repo.loading) {
                return repo.text;
            }

            var $container = $(
                "<div class='select2-result-repository clearfix' style=\"width: 100%\">" +
                "<div class='select2-result-repository__avatar'><img src='" + repo.img + "' /></div>" +
                "<div class='select2-result-repository__title'></div>" +
                "<div class='select2-result-repository__description'></div>" +
                "<div class='select2-result-repository__statistics'>" +
                "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> </div>" +
                "</div>" +
                "</div>"
            );

            $container.find(".select2-result-repository__title").text(repo.name);
            $container.find(".select2-result-repository__description").text("Type: " + repo.type);
            $container.find(".select2-result-repository__forks").append("ID: " + repo.id);

            return $container;
        }

        function formatRepoSelection(repo) {
            if (repo.name) {
                return repo.id + " - " + repo.name
            } else {
                return repo.text
            }
        }
    });

</script>
{% block javascript %}
{% endblock %}
</body>
</html>
