{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Entertainment DB{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <!-- jQuery -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <!-- Select2 -->
    <link href="{% static 'libs/select2/css/select2.css' %}" rel="stylesheet"/>
    <script src="{% static 'libs/select2/js/select2.js' %}"></script>
    <!--Rating stars -->
    <link href="{% static 'libs/star-rating/star-rating.css' %}" rel="stylesheet">
    <script src="{% static 'libs/star-rating/star-rating.js' %}"></script>
</head>
<body>
<div id="header">
    <a href="{% url 'profile' %}" class="logo">Entertainment DB</a>
    <ul class="menu">
        {% if request.user.is_authenticated %}
            <li><a href="{% url "logout" %}">Log out</a></li>
        {% else %}
            <li><a href="{% url "login" %}">Sign in</a></li>
        {% endif %}
    </ul>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
{% block javascript %}
{% endblock %}
</body>
</html>
